<footer class="footer">
    <div class="container">
       <div class="row">
           <div class="footer-col">
               <h4>About Us</h4>
               <ul>
                   <li><a href="#">Our Story</a></li>
                   <li><a href="#">Culinary Courses</a></li>
                   <li><a href="#">Privacy Policy</a></li>
                   <li><a href="#">Affiliate Program</a></li>
               </ul>
           </div>
           <div class="footer-col">
               <h4>Get Help</h4>
               <ul>
                   <li><a href="#">FAQ</a></li>
                   <li><a href="#">Delivery</a></li>
                   <li><a href="#">Order Status</a></li>
                   <li><a href="#">Payment Options</a></li>
               </ul>
           </div>
           <div class="footer-col">
               <h4>Explore Our Recipes</h4>
               <ul>
                   <li><a href="#">Main Courses</a></li>
                   <li><a href="#">Desserts</a></li>
                   <li><a href="#">Appetizers</a></li>
                   <li><a href="#">Baking</a></li>
               </ul>
           </div>
           <div class="footer-col">
               <h4>Follow Us</h4>
               <div class="social-links">
                <a href="https://www.instagram.com" class="social-link-footer">
                  <svg class="social-icon-footer" width="24" height="24">
                    <use href="./images/icons-svg.svg#icon-instagram"></use>
                  </svg>
                </a>
                <a href="https://www.facebook.com" class="social-link-footer">
                  <svg class="social-icon-footer" width="24" height="24">
                    <use href="./images/icons-svg.svg#icon-facebook"></use>
                  </svg>
                </a>
                <a href="https://www.linkedin.com" class="social-link-footer">
                  <svg class="social-icon-footer" width="24" height="24">
                    <use href="./images/icons-svg.svg#icon-linkedin"></use>
                  </svg>
                </a>
                <a href="https://www.youtube.com" class="social-link-footer">
                  <svg class="social-icon-footer" width="24" height="24">
                    <use href="./images/icons-svg.svg#icon-youtube"></use>
                  </svg>
                </a>
              </div>
           </div>
       </div>
    </div>
 </footer>