<header class="container">
  <h2>Header section</h2>
  <a href="/src/index.html">Main (can click)</a>
  <a href="/src/favorites.html">Favorites (can click)</a>
  <nav class="header-navigation">
    <ul class="header-list">
      <li class="header-item">
        <a href="/src/index.html">Home</a>
      </li>
      <li class="header-item">
        <a href="/src/favorites.html">Favorites</a>
      </li>
      <a href="/src/index.html" class="header-logo"
        >tasty
        <span class="part-logo">treats.</span>
      </a>
    </ul>
  </nav>
  <button class="header-basket"></button>
  <button class="header-switch"></button>
</header>
