<section class="hero">
  <div class="container">
    <div class="vrap-hero">
      <div>
        <h1 class="hero-name">
          Learn to Cook
          <span class="tasty-green">Tasty Treats'</span> Customizable
          Masterclass
        </h1>
        <p class="hero-text">
          TastyTreats - Customize Your Meal with Ingredient Options and
          Step-by-Step Video Guide
        </p>
      </div>

      <button class="hero-btn">Order now</button>

      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      </div>
      <div class="cap"></div>
    </div>
  </div>
</section>
