<section class="card-section">
  <ul class="card-items">
    <li class="recipe-card">
      <div class="rad-img card-thumb">
        <img class="card-image" src="/src/images/test-img.jpg" alt="" />
      </div>
      <div class="card-info">
        <h3 class="card-title">Lorem, ipsum dolor.</h3>
        <p class="card-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
          possimus est tempora facere!
        </p>
        <div class="card-rating-button">
          <div>
            <p class="card-rating">4.5</p>
            <span class="card-stars">★</span>
            <span class="card-stars">★</span>
            <span class="card-stars">★</span>
            <span class="card-stars">★</span>
            <span class="card-stars">★</span>
          </div>
          <button class="base-btn btn-card" type="button">See recipe</button>
        </div>
      </div>
      <span class="add-favorite">♡</span>
    </li>
  </ul>
</section>
